.pinkg
{
  color:  #000;
  background-color:  #f7b;
  background-image:  linear-gradient(#f7b, #f9e, #f7b);
  text-shadow:
    -0.01em -0.01em 0 #846,
    0.01em -0.01em 0 #846,
    -0.01em 0.01em 0 #846,
    0.01em 0.01em 0 #846;
}

.lpinkg
{
  color:  #000;
  background-color:  #f9e;
  background-image:  linear-gradient(#f9e, #f7b, #f9e);
  text-shadow:
    -0.01em -0.01em 0 #847,
    0.01em -0.01em 0 #847,
    -0.01em 0.01em 0 #847,
    0.01em 0.01em 0 #847;
}

.dpinkg
{
  color:  #fff;
  background-color:  #b58;
  background-image:  linear-gradient(#b58, #f7b, #b58);
  text-shadow:
    -0.01em -0.01em 0 #f9d,
    0.01em -0.01em 0 #f9d,
    -0.01em 0.01em 0 #f9d,
    0.01em 0.01em 0 #f9d;
}

.blueg
{
  color:  #fff;
  background-color:  #00f;
  background-image:  linear-gradient(#00f, #009, #00f);
  text-shadow:
    -0.01em -0.01em 0 #00f,
    0.01em -0.01em 0 #00f,
    -0.01em 0.01em 0 #00f,
    0.01em 0.01em 0 #00f;
}


.lblueg
{
  color:  #fff;
  background-color:  #66f;
  background-image:  linear-gradient(#66f, #99f, #66f);
  text-shadow:
    -0.01em -0.01em 0 #66f,
    0.01em -0.01em 0 #66f,
    -0.01em 0.01em 0 #66f,
    0.01em 0.01em 0 #66f;
}

.dblueg
{
  color:  #fff;
  background-color:  #006;
  background-image:  linear-gradient(#006, #00b, #006);
  text-shadow:
    -0.01em -0.01em 0 #00f,
    0.01em -0.01em 0 #00f,
    -0.01em 0.01em 0 #00f,
    0.01em 0.01em 0 #00f;
}

.browng
{
  color:  #fff;
  background-color:  #841;
  background-image:  linear-gradient(#841, #a51, #841);
  text-shadow:
    -0.01em -0.01em 0 #d71,
    0.01em -0.01em 0 #d71,
    -0.01em 0.01em 0 #d71,
    0.01em 0.01em 0 #d71;
}

.lbrowng
{
  color:  #fff;
  background-color:  #a51;
  background-image:  linear-gradient(#a51, #841, #a51);
  text-shadow:
    -0.01em -0.01em 0 #f91,
    0.01em -0.01em 0 #f91,
    -0.01em 0.01em 0 #f91,
    0.01em 0.01em 0 #f91;
}


.dbrowng
{
  color:  #fff;
  background-color:  #631;
  background-image:  linear-gradient(#631, #841, #631);
  text-shadow:
    -0.01em -0.01em 0 #a51,
    0.01em -0.01em 0 #a51,
    -0.01em 0.01em 0 #a51,
    0.01em 0.01em 0 #a51;
}


.purpleg
{
  color:  #fff;
  background-color:  #808;
  background-image:  linear-gradient(#808, #a0a, #808);
  text-shadow:
    -0.01em -0.01em 0 #d0d,
    0.01em -0.01em 0 #d0d,
    -0.01em 0.01em 0 #d0d,
    0.01em 0.01em 0 #d0d;
}

.lpurpleg
{
  color:  #fff;
  background-color:  #a0a;
  background-image:  linear-gradient(#a0a, #808, #a0a);
  text-shadow:
    -0.01em -0.01em 0 #f0f,
    0.01em -0.01em 0 #f0f,
    -0.01em 0.01em 0 #f0f,
    0.01em 0.01em 0 #f0f;
}

.cyang
{
  color:  #fff;
  background-color:  #0ff;
  background-image:  linear-gradient(#0ff, #0ff, #0ff);
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}


.dcyang
{
  color:  #fff;
  background-color:  #0bb;
  background-image:  linear-gradient(#0bb, #0ff, #0bb);
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}

.yellowg
{
  color:  #000;
  background-color:  #ff0;
  background-image:  linear-gradient(#ff0, #ff0, #ff0);
  text-shadow:
    -0.01em -0.01em 0 #990,
    0.01em -0.01em 0 #990,
    -0.01em 0.01em 0 #990,
    0.01em 0.01em 0 #990;
}


.dpurpleg
{
  color:  #fff;
  background-color:  #303;
  background-image:  linear-gradient(#606, #303, #606);
  text-shadow:
    -0.01em -0.01em 0 #a0a,
    0.01em -0.01em 0 #a0a,
    -0.01em 0.01em 0 #a0a,
    0.01em 0.01em 0 #a0a;
}

.lcyang
{
  color:  #fff;
  background-color:  #0ff;
  background-image:  linear-gradient(#0ff, #0ff, #0ff);
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}

.lyellowg
{
  color:  #000;
  background-color:  #ff8;
  background-image:  linear-gradient(#ff8, #ff0, #ff8);
  text-shadow:
    -0.01em -0.01em 0 #ff0,
    0.01em -0.01em 0 #ff0,
    -0.01em 0.01em 0 #ff0,
    0.01em 0.01em 0 #ff0;
}

.dyellowg
{
  color:  #fff;
  background-color:  #bb0;
  background-image:  linear-gradient(#bb0, #ff0, #bb0);
  text-shadow:
    -0.01em -0.01em 0 #ff0,
    0.01em -0.01em 0 #ff0,
    -0.01em 0.01em 0 #ff0,
    0.01em 0.01em 0 #ff0;
}

.grayg
{
  color:  #fff;
  background-color:  #888;
  background-image:  linear-gradient(#888, #aaa, #888);
  text-shadow:
    -0.01em -0.01em 0 #ddd,
    0.01em -0.01em 0 #ddd,
    -0.01em 0.01em 0 #ddd,
    0.01em 0.01em 0 #ddd;
}

.dgrayg
{
  color:  #fff;
  background-color:  #666;
  background-image:  linear-gradient(#666, #888, #666);
  text-shadow:
    -0.01em -0.01em 0 #aaa,
    0.01em -0.01em 0 #aaa,
    -0.01em 0.01em 0 #aaa,
    0.01em 0.01em 0 #aaa;
}

.lblackg
{
  color:  #fff;
  background-color:  #000;
  background-image:  linear-gradient(#000, #000, #000);
  text-shadow:
    -0.01em -0.01em 0 #000,
    0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000,
    0.01em 0.01em 0 #000;
}

.dblackg
{
  color:  #fff;
  background-color:  #000;
  background-image:  linear-gradient(#000, #000, #000);
  text-shadow:
    -0.01em -0.01em 0 #000,
    0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000,
    0.01em 0.01em 0 #000;
}

.tealg
{
  color:  #fff;
  background-color:  #088;
  background-image:  linear-gradient(#088, #0aa, #088);
  text-shadow:
    -0.01em -0.01em 0 #0dd,
    0.01em -0.01em 0 #0dd,
    -0.01em 0.01em 0 #0dd,
    0.01em 0.01em 0 #0dd;
}

.ltealg
{
  color:  #fff;
  background-color:  #0aa;
  background-image:  linear-gradient(#0aa, #088, #0aa);
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}


.blackg
{
  color:  #fff;
  background-color:  #000;
  background-image:  linear-gradient(#000, #000, #000);
  text-shadow:
    -0.01em -0.01em 0 #000,
    0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000,
    0.01em 0.01em 0 #000;
}


.lgrayg
{
  color:  #000;
  background-color:  #ccc;
  background-image:  linear-gradient(#ccc, #aaa, #ccc);
  text-shadow:
    -0.01em -0.01em 0 #fff,
    0.01em -0.01em 0 #fff,
    -0.01em 0.01em 0 #fff,
    0.01em 0.01em 0 #fff;
}

.dtealg
{
  color:  #fff;
  background-color:  #066;
  background-image:  linear-gradient(#066, #088, #066);
  text-shadow:
    -0.01em -0.01em 0 #0aa,
    0.01em -0.01em 0 #0aa,
    -0.01em 0.01em 0 #0aa,
    0.01em 0.01em 0 #0aa;
}

.lvioletg
{
  color:  #fff;
  background-color:  #50a;
  background-image:  linear-gradient(#50a, #408, #50a);
  text-shadow:
    -0.01em -0.01em 0 #90f,
    0.01em -0.01em 0 #90f,
    -0.01em 0.01em 0 #90f,
    0.01em 0.01em 0 #90f;
}


.dvioletg
{
  color:  #fff;
  background-color:  #306;
  background-image:  linear-gradient(#306, #408, #306);
  text-shadow:
    -0.01em -0.01em 0 #50a,
    0.01em -0.01em 0 #50a,
    -0.01em 0.01em 0 #50a,
    0.01em 0.01em 0 #50a;
}

.orangeg
{
  color:  #000;
  background-color:  #f90;
  background-image:  linear-gradient(#f90, #fc0, #f90);
  text-shadow:
    -0.01em -0.01em 0 #f90,
    0.01em -0.01em 0 #f90,
    -0.01em 0.01em 0 #f90,
    0.01em 0.01em 0 #f90;
}


.dorangeg
{
  color:  #fff;
  background-color:  #820;
  background-image:  linear-gradient(#820, #c80, #820);
  text-shadow:
    -0.01em -0.01em 0 #820,
    0.01em -0.01em 0 #820,
    -0.01em 0.01em 0 #820,
    0.01em 0.01em 0 #820;
}


.greeng
{
  color:  #fff;
  background-color:  #080;
  background-image:  linear-gradient(#080, #0a0, #080);
  text-shadow:
    -0.01em -0.01em 0 #0d0,
    0.01em -0.01em 0 #0d0,
    -0.01em 0.01em 0 #0d0,
    0.01em 0.01em 0 #0d0;
}

.lgreeng
{
  color:  #000;
  background-color:  #3f3;
  background-image:  linear-gradient(#3f3, #9f9, #3f3);
  text-shadow:
    -0.01em -0.01em 0 #3f3,
    0.01em -0.01em 0 #3f3,
    -0.01em 0.01em 0 #3f3,
    0.01em 0.01em 0 #3f3;
}

.dgreeng
{
  color:  #fff;
  background-color:  #040;
  background-image:  linear-gradient(#040, #080, #040);
  text-shadow:
    -0.01em -0.01em 0 #0a0,
    0.01em -0.01em 0 #0a0,
    -0.01em 0.01em 0 #0a0,
    0.01em 0.01em 0 #0a0;
}


.violetg
{
  color:  #fff;
  background-color:  #408;
  background-image:  linear-gradient(#408, #50a, #408);
  text-shadow:
    -0.01em -0.01em 0 #70d,
    0.01em -0.01em 0 #70d,
    -0.01em 0.01em 0 #70d,
    0.01em 0.01em 0 #70d;
}

.lorangeg
{
  color:  #fff;
  background-color:  #ff0;
  background-image:  linear-gradient(#ff0, #fc0, #ff0);
  text-shadow:
    -0.01em -0.01em 0 #ff0,
    0.01em -0.01em 0 #ff0,
    -0.01em 0.01em 0 #ff0,
    0.01em 0.01em 0 #ff0;
}

.whiteg
{
  color:  #000;
  background-color:  #fff;
  background-image:  linear-gradient(#fff, #fff, #fff);
  text-shadow:
    -0.01em -0.01em 0 #888,
    0.01em -0.01em 0 #888,
    -0.01em 0.01em 0 #888,
    0.01em 0.01em 0 #888;
}

.dwhiteg
{
  color:  #000;
  background-color:  #bbb;
  background-image:  linear-gradient(#bbb, #fff, #bbb);
  text-shadow:
    -0.01em -0.01em 0 #666,
    0.01em -0.01em 0 #666,
    -0.01em 0.01em 0 #666,
    0.01em 0.01em 0 #666;
}


.lredg
{
  color:  #fff;
  background-color:  #f00;
  background-image:  linear-gradient(#f00, #f00, #f00);
  text-shadow:
    -0.01em -0.01em 0 #f00,
    0.01em -0.01em 0 #f00,
    -0.01em 0.01em 0 #f00,
    0.01em 0.01em 0 #f00;
}

.dredg
{
  color:  #fff;
  background-color:  #900;
  background-image:  linear-gradient(#900, #f00, #900);
  text-shadow:
    -0.01em -0.01em 0 #f00,
    0.01em -0.01em 0 #f00,
    -0.01em 0.01em 0 #f00,
    0.01em 0.01em 0 #f00;
}


.lwhiteg
{
  color:  #000;
  background-color:  #fff;
  background-image:  linear-gradient(#fff, #fff, #fff);
  text-shadow:
    -0.01em -0.01em 0 #888,
    0.01em -0.01em 0 #888,
    -0.01em 0.01em 0 #888,
    0.01em 0.01em 0 #888;
}

.redg
{
  color:  #fff;
  background-color:  #f00;
  background-image:  linear-gradient(#b00, #f00, #b00);
  text-shadow:
    -0.01em -0.01em 0 #f00,
    0.01em -0.01em 0 #f00,
    -0.01em 0.01em 0 #f00,
    0.01em 0.01em 0 #f00;
}


/* **************************************************************** */


.pinkb
{
  color:  #000;
  background-color:  #f7b;
  text-shadow:
    -0.01em -0.01em 0 #846,
    0.01em -0.01em 0 #846,
    -0.01em 0.01em 0 #846,
    0.01em 0.01em 0 #846;
}


.lpinkb
{
  color:  #000;
  background-color:  #f9e;
  text-shadow:
    -0.01em -0.01em 0 #847,
    0.01em -0.01em 0 #847,
    -0.01em 0.01em 0 #847,
    0.01em 0.01em 0 #847;
}


.dpinkb
{
  color:  #fff;
  background-color:  #b58;
  text-shadow:
    -0.01em -0.01em 0 #f9d,
    0.01em -0.01em 0 #f9d,
    -0.01em 0.01em 0 #f9d,
    0.01em 0.01em 0 #f9d;
}


.blueb
{
  color:  #fff;
  background-color:  #00f;
  text-shadow:
    -0.01em -0.01em 0 #00f,
    0.01em -0.01em 0 #00f,
    -0.01em 0.01em 0 #00f,
    0.01em 0.01em 0 #00f;
}


.lblueb
{
  color:  #000;
  background-color:  #ccf;
  text-shadow:
    -0.01em -0.01em 0 #ccf,
    0.01em -0.01em 0 #ccf,
    -0.01em 0.01em 0 #ccf,
    0.01em 0.01em 0 #ccf;
}

.dblueb
{
  color:  #fff;
  background-color:  #006;
  text-shadow:
    -0.01em -0.01em 0 #00f,
    0.01em -0.01em 0 #00f,
    -0.01em 0.01em 0 #00f,
    0.01em 0.01em 0 #00f;
}

.brownb
{
  color:  #fff;
  background-color:  #841;
  text-shadow:
    -0.01em -0.01em 0 #d71,
    0.01em -0.01em 0 #d71,
    -0.01em 0.01em 0 #d71,
    0.01em 0.01em 0 #d71;
}

.lbrownb
{
  color:  #fff;
  background-color:  #a51;
  text-shadow:
    -0.01em -0.01em 0 #f91,
    0.01em -0.01em 0 #f91,
    -0.01em 0.01em 0 #f91,
    0.01em 0.01em 0 #f91;
}

.purpleb
{
  color:  #fff;
  background-color:  #808;
  text-shadow:
    -0.01em -0.01em 0 #d0d,
    0.01em -0.01em 0 #d0d,
    -0.01em 0.01em 0 #d0d,
    0.01em 0.01em 0 #d0d;
}


.lgrayb
{
  color:  #000;
  background-color:  #ddd;
  text-shadow:
    -0.01em -0.01em 0 #fff,
    0.01em -0.01em 0 #fff,
    -0.01em 0.01em 0 #fff,
    0.01em 0.01em 0 #fff;
}


.blackb
{
  color:  #fff;
  background-color:  #000;
  text-shadow:
    -0.01em -0.01em 0 #000,
    0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000,
    0.01em 0.01em 0 #000;
}


.lblackb
{
  color:  #fff;
  background-color:  #000;
  text-shadow:
    -0.01em -0.01em 0 #000,
    0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000,
    0.01em 0.01em 0 #000;
}


.dblackb
{
  color:  #fff;
  background-color:  #000;
  text-shadow:
    -0.01em -0.01em 0 #000,
    0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000,
    0.01em 0.01em 0 #000;
}


.cyanb
{
  color:  #fff;
  background-color:  #0ff;
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}


.dbrownb
{
  color:  #fff;
  background-color:  #631;
  text-shadow:
    -0.01em -0.01em 0 #a51,
    0.01em -0.01em 0 #a51,
    -0.01em 0.01em 0 #a51,
    0.01em 0.01em 0 #a51;
}

.dcyanb
{
  color:  #fff;
  background-color:  #0bb;
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}


.lyellowb
{
  color:  #000;
  background-color:  #ff8;
  text-shadow:
    -0.01em -0.01em 0 #ff8,
    0.01em -0.01em 0 #ff8,
    -0.01em 0.01em 0 #ff8,
    0.01em 0.01em 0 #ff8;
}

.lpurpleb
{
  color:  #fff;
  background-color:  #a0a;
  text-shadow:
    -0.01em -0.01em 0 #f0f,
    0.01em -0.01em 0 #f0f,
    -0.01em 0.01em 0 #f0f,
    0.01em 0.01em 0 #f0f;
}

.dpurpleb
{
  color:  #fff;
  background-color:  #303;
  text-shadow:
    -0.01em -0.01em 0 #a0a,
    0.01em -0.01em 0 #a0a,
    -0.01em 0.01em 0 #a0a,
    0.01em 0.01em 0 #a0a;
}

.grayb
{
  color:  #fff;
  background-color:  #888;
  text-shadow:
    -0.01em -0.01em 0 #ddd,
    0.01em -0.01em 0 #ddd,
    -0.01em 0.01em 0 #ddd,
    0.01em 0.01em 0 #ddd;
}



.lcyanb
{
  color:  #fff;
  background-color:  #0ff;
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}

.dgrayb
{
  color:  #fff;
  background-color:  #666;
  text-shadow:
    -0.01em -0.01em 0 #aaa,
    0.01em -0.01em 0 #aaa,
    -0.01em 0.01em 0 #aaa,
    0.01em 0.01em 0 #aaa;
}

.yellowb
{
  color:  #000;
  background-color:  #ff0;
  text-shadow:
    -0.01em -0.01em 0 #990,
    0.01em -0.01em 0 #990,
    -0.01em 0.01em 0 #990,
    0.01em 0.01em 0 #990;
}

.dyellowb
{
  color:  #fff;
  background-color:  #bb0;
  text-shadow:
    -0.01em -0.01em 0 #ff0,
    0.01em -0.01em 0 #ff0,
    -0.01em 0.01em 0 #ff0,
    0.01em 0.01em 0 #ff0;
}


.tealb
{
  color:  #fff;
  background-color:  #088;
  text-shadow:
    -0.01em -0.01em 0 #0dd,
    0.01em -0.01em 0 #0dd,
    -0.01em 0.01em 0 #0dd,
    0.01em 0.01em 0 #0dd;
}

.ltealb
{
  color:  #fff;
  background-color:  #0aa;
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}


.dtealb
{
  color:  #fff;
  background-color:  #066;
  text-shadow:
    -0.01em -0.01em 0 #0aa,
    0.01em -0.01em 0 #0aa,
    -0.01em 0.01em 0 #0aa,
    0.01em 0.01em 0 #0aa;
}

.violetb
{
  color:  #fff;
  background-color:  #408;
  text-shadow:
    -0.01em -0.01em 0 #70d,
    0.01em -0.01em 0 #70d,
    -0.01em 0.01em 0 #70d,
    0.01em 0.01em 0 #70d;
}

.dvioletb
{
  color:  #fff;
  background-color:  #306;
  text-shadow:
    -0.01em -0.01em 0 #50a,
    0.01em -0.01em 0 #50a,
    -0.01em 0.01em 0 #50a,
    0.01em 0.01em 0 #50a;
}

.lorangeb
{
  color:  #000;
  background-color:  #fc9;
  text-shadow:
    -0.01em -0.01em 0 #fc9,
    0.01em -0.01em 0 #fc9,
    -0.01em 0.01em 0 #fc9,
    0.01em 0.01em 0 #fc9;
}

.dorangeb
{
  color:  #fff;
  background-color:  #b80;
  text-shadow:
    -0.01em -0.01em 0 #fd0,
    0.01em -0.01em 0 #fd0,
    -0.01em 0.01em 0 #fd0,
    0.01em 0.01em 0 #fd0;
}


.lgreenb
{
  color:  #000;
  background-color:  #cfc;
  text-shadow:
    -0.01em -0.01em 0 #0f0,
    0.01em -0.01em 0 #0f0,
    -0.01em 0.01em 0 #0f0,
    0.01em 0.01em 0 #0f0;
}



.dgreenb
{
  color:  #fff;
  background-color:  #040;
  text-shadow:
    -0.01em -0.01em 0 #0a0,
    0.01em -0.01em 0 #0a0,
    -0.01em 0.01em 0 #0a0,
    0.01em 0.01em 0 #0a0;
}


.whiteb
{
  color:  #000;
  background-color:  #fff;
  text-shadow:
    -0.01em -0.01em 0 #888,
    0.01em -0.01em 0 #888,
    -0.01em 0.01em 0 #888,
    0.01em 0.01em 0 #888;
}


.dredb
{
  color:  #fff;
  background-color:  #b00;
  text-shadow:
    -0.01em -0.01em 0 #f00,
    0.01em -0.01em 0 #f00,
    -0.01em 0.01em 0 #f00,
    0.01em 0.01em 0 #f00;
}


.lredb
{
  color:  #000;
  background-color:  #fcc;
  text-shadow:
    -0.01em -0.01em 0 #f00,
    0.01em -0.01em 0 #f00,
    -0.01em 0.01em 0 #f00,
    0.01em 0.01em 0 #f00;
}


.redb
{
  color:  #fff;
  background-color:  #f00;
  text-shadow:
    -0.01em -0.01em 0 #f00,
    0.01em -0.01em 0 #f00,
    -0.01em 0.01em 0 #f00,
    0.01em 0.01em 0 #f00;
}

.dwhiteb
{
  color:  #000;
  background-color:  #bbb;
  text-shadow:
    -0.01em -0.01em 0 #666,
    0.01em -0.01em 0 #666,
    -0.01em 0.01em 0 #666,
    0.01em 0.01em 0 #666;
}


.lwhiteb
{
  color:  #000;
  background-color:  #fff;
  text-shadow:
    -0.01em -0.01em 0 #888,
    0.01em -0.01em 0 #888,
    -0.01em 0.01em 0 #888,
    0.01em 0.01em 0 #888;
}


.lvioletb
{
  color:  #fff;
  background-color:  #50a;
  text-shadow:
    -0.01em -0.01em 0 #90f,
    0.01em -0.01em 0 #90f,
    -0.01em 0.01em 0 #90f,
    0.01em 0.01em 0 #90f;
}

.orangeb
{
  color:  #fff;
  background-color:  #fc0;
  text-shadow:
    -0.01em -0.01em 0 #ff0,
    0.01em -0.01em 0 #ff0,
    -0.01em 0.01em 0 #ff0,
    0.01em 0.01em 0 #ff0;
}

.greenb
{
  color:  #fff;
  background-color:  #080;
  text-shadow:
    -0.01em -0.01em 0 #0d0,
    0.01em -0.01em 0 #0d0,
    -0.01em 0.01em 0 #0d0,
    0.01em 0.01em 0 #0d0;
}


/* **************************************************************** */

.pink
{
  color:  #f7b;
  text-shadow:
    -0.01em -0.01em 0 #846,
    0.01em -0.01em 0 #846,
    -0.01em 0.01em 0 #846,
    0.01em 0.01em 0 #846;
}

.lpink
{
  color:  #f9e;
  text-shadow:
    -0.01em -0.01em 0 #847,
    0.01em -0.01em 0 #847,
    -0.01em 0.01em 0 #847,
    0.01em 0.01em 0 #847;
}

.dpink
{
  color:  #b58;
  text-shadow:
    -0.01em -0.01em 0 #f9d,
    0.01em -0.01em 0 #f9d,
    -0.01em 0.01em 0 #f9d,
    0.01em 0.01em 0 #f9d;
}

.blue
{
  color:  #00f;
  text-shadow:
    -0.01em -0.01em 0 #00f,
    0.01em -0.01em 0 #00f,
    -0.01em 0.01em 0 #00f,
    0.01em 0.01em 0 #00f;
}

.lblue
{
  color:  #77f;
  text-shadow:
    -0.01em -0.01em 0 #00f,
    0.01em -0.01em 0 #00f,
    -0.01em 0.01em 0 #00f,
    0.01em 0.01em 0 #00f;
}

.dblue
{
  color:  #009;
  text-shadow:
    -0.01em -0.01em 0 #00f,
    0.01em -0.01em 0 #00f,
    -0.01em 0.01em 0 #00f,
    0.01em 0.01em 0 #00f;
}

.brown
{
  color:  #841;
  text-shadow:
    -0.01em -0.01em 0 #d71,
    0.01em -0.01em 0 #d71,
    -0.01em 0.01em 0 #d71,
    0.01em 0.01em 0 #d71;
}

.lbrown
{
  color:  #a51;
  text-shadow:
    -0.01em -0.01em 0 #f91,
    0.01em -0.01em 0 #f91,
    -0.01em 0.01em 0 #f91,
    0.01em 0.01em 0 #f91;
}

.dbrown
{
  color:  #631;
  text-shadow:
    -0.01em -0.01em 0 #a51,
    0.01em -0.01em 0 #a51,
    -0.01em 0.01em 0 #a51,
    0.01em 0.01em 0 #a51;
}

.purple
{
  color:  #808;
  text-shadow:
    -0.01em -0.01em 0 #d0d,
    0.01em -0.01em 0 #d0d,
    -0.01em 0.01em 0 #d0d,
    0.01em 0.01em 0 #d0d;
}

.lpurple
{
  color:  #f3f;
  text-shadow:
    -0.01em -0.01em 0 #f0f,
    0.01em -0.01em 0 #f0f,
    -0.01em 0.01em 0 #f0f,
    0.01em 0.01em 0 #f0f;
}

.dpurple
{
  color:  #606;
  text-shadow:
    -0.01em -0.01em 0 #a0a,
    0.01em -0.01em 0 #a0a,
    -0.01em 0.01em 0 #a0a,
    0.01em 0.01em 0 #a0a;
}

.cyan
{
  color:  #0ff;
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}


.lcyan
{
  color:  #0ff;
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}

.dcyan
{
  color:  #0bb;
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}

.yellow
{
  color:  #ff0;
  text-shadow:
    -0.01em -0.01em 0 #990,
    0.01em -0.01em 0 #990,
    -0.01em 0.01em 0 #990,
    0.01em 0.01em 0 #990;
}

.lyellow
{
  color:  #ff8;
  text-shadow:
    -0.01em -0.01em 0 #ff8,
    0.01em -0.01em 0 #ff8,
    -0.01em 0.01em 0 #ff8,
    0.01em 0.01em 0 #ff8;
}

.dyellow
{
  color:  #bb0;
  text-shadow:
    -0.01em -0.01em 0 #ff0,
    0.01em -0.01em 0 #ff0,
    -0.01em 0.01em 0 #ff0,
    0.01em 0.01em 0 #ff0;
}

.gray
{
  color:  #888;
  text-shadow:
    -0.01em -0.01em 0 #ddd,
    0.01em -0.01em 0 #ddd,
    -0.01em 0.01em 0 #ddd,
    0.01em 0.01em 0 #ddd;
}

.lgray
{
  color:  #ccc;
  text-shadow:
    -0.01em -0.01em 0 #fff,
    0.01em -0.01em 0 #fff,
    -0.01em 0.01em 0 #fff,
    0.01em 0.01em 0 #fff;
}



.dgray
{
  color:  #666;
  text-shadow:
    -0.01em -0.01em 0 #aaa,
    0.01em -0.01em 0 #aaa,
    -0.01em 0.01em 0 #aaa,
    0.01em 0.01em 0 #aaa;
}



.black
{
  color:  #000;
  text-shadow:
    -0.01em -0.01em 0 #000,
    0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000,
    0.01em 0.01em 0 #000;
}


.lblack
{
  color:  #000;
  text-shadow:
    -0.01em -0.01em 0 #000,
    0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000,
    0.01em 0.01em 0 #000;
}



.dblack
{
  color:  #000;
  text-shadow:
    -0.01em -0.01em 0 #000,
    0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000,
    0.01em 0.01em 0 #000;
}



.teal
{
  color:  #088;
  text-shadow:
    -0.01em -0.01em 0 #0dd,
    0.01em -0.01em 0 #0dd,
    -0.01em 0.01em 0 #0dd,
    0.01em 0.01em 0 #0dd;
}

.lteal
{
  color:  #0aa;
  text-shadow:
    -0.01em -0.01em 0 #0ff,
    0.01em -0.01em 0 #0ff,
    -0.01em 0.01em 0 #0ff,
    0.01em 0.01em 0 #0ff;
}

.dteal
{
  color:  #066;
  text-shadow:
    -0.01em -0.01em 0 #0aa,
    0.01em -0.01em 0 #0aa,
    -0.01em 0.01em 0 #0aa,
    0.01em 0.01em 0 #0aa;
}

.violet
{
  color:  #408;
  text-shadow:
    -0.01em -0.01em 0 #70d,
    0.01em -0.01em 0 #70d,
    -0.01em 0.01em 0 #70d,
    0.01em 0.01em 0 #70d;
}


.lviolet
{
  color:  #50a;
  text-shadow:
    -0.01em -0.01em 0 #90f,
    0.01em -0.01em 0 #90f,
    -0.01em 0.01em 0 #90f,
    0.01em 0.01em 0 #90f;
}


.dviolet
{
  color:  #306;
  text-shadow:
    -0.01em -0.01em 0 #50a,
    0.01em -0.01em 0 #50a,
    -0.01em 0.01em 0 #50a,
    0.01em 0.01em 0 #50a;
}

.orange
{
  color:  #fc0;
  text-shadow:
    -0.01em -0.01em 0 #ff0,
    0.01em -0.01em 0 #ff0,
    -0.01em 0.01em 0 #ff0,
    0.01em 0.01em 0 #ff0;
}

.lorange
{
  color:  #ff0;
  text-shadow:
    -0.01em -0.01em 0 #ff0,
    0.01em -0.01em 0 #ff0,
    -0.01em 0.01em 0 #ff0,
    0.01em 0.01em 0 #ff0;
}

.dorange
{
  color:  #820;
  text-shadow:
    -0.01em -0.01em 0 #820,
    0.01em -0.01em 0 #820,
    -0.01em 0.01em 0 #820,
    0.01em 0.01em 0 #820;
}

.green
{
  color:  #080;
  text-shadow:
    -0.01em -0.01em 0 #0d0,
    0.01em -0.01em 0 #0d0,
    -0.01em 0.01em 0 #0d0,
    0.01em 0.01em 0 #0d0;
}


.lgreen
{
  color:  #7f7;
  text-shadow:
    -0.01em -0.01em 0 #0f0,
    0.01em -0.01em 0 #0f0,
    -0.01em 0.01em 0 #0f0,
    0.01em 0.01em 0 #0f0;
}


.dgreen
{
  color:  #040;
  text-shadow:
    -0.01em -0.01em 0 #0a0,
    0.01em -0.01em 0 #0a0,
    -0.01em 0.01em 0 #0a0,
    0.01em 0.01em 0 #0a0;
}



.white
{
  color:  #fff;
  text-shadow:
    -0.01em -0.01em 0 #888,
    0.01em -0.01em 0 #888,
    -0.01em 0.01em 0 #888,
    0.01em 0.01em 0 #888;
}


.lwhite
{
  color:  #fff;
  text-shadow:
    -0.01em -0.01em 0 #888,
    0.01em -0.01em 0 #888,
    -0.01em 0.01em 0 #888,
    0.01em 0.01em 0 #888;
}


.dwhite
{
  color:  #bbb;
  text-shadow:
    -0.01em -0.01em 0 #666,
    0.01em -0.01em 0 #666,
    -0.01em 0.01em 0 #666,
    0.01em 0.01em 0 #666;
}


.red
{
  color:  #f00;
  text-shadow:
    -0.01em -0.01em 0 #f00,
    0.01em -0.01em 0 #f00,
    -0.01em 0.01em 0 #f00,
    0.01em 0.01em 0 #f00;
}

.lred
{
  color:  #f00;
  text-shadow:
    -0.01em -0.01em 0 #f00,
    0.01em -0.01em 0 #f00,
    -0.01em 0.01em 0 #f00,
    0.01em 0.01em 0 #f00;
}


.dred
{
  color:  #b00;
  text-shadow:
    -0.01em -0.01em 0 #f00,
    0.01em -0.01em 0 #f00,
    -0.01em 0.01em 0 #f00,
    0.01em 0.01em 0 #f00;
}
