*, *::before, *::after {
 box-sizing: border-box;
 }

.Clear  {  clear:    both;  }

.Left    {  text-align:    left;  }
.Center    {  text-align:    center;  }
.Right    {  text-align:    right;  }
.Justify  {  text-align:    justify;  }

.FloatLeft  {  float:    left;    }
.FloatRight  {  float:    right;  }

.Size40 { font-size:  0.4em; }
.Size60 { font-size:  0.6em; }
.Size80 { font-size:  0.8em; }
.Size100 { font-size:  1em; }
.Size125 { font-size:  1.25em; }
.Size150 { font-size:  1.5em; }
.Size200 { font-size:  2em; }
.Size300 { font-size:  3em; }
.Size400 { font-size:  4em; }
.Size500 { font-size:  5em; }
.Size600 { font-size:  6em; }
.Size800 { font-size:  8em; }
.Size1000 { font-size:  10em; }
.Size1200 { font-size:  12m; }
.Size1400 { font-size:  14em; }
.Size1600 { font-size:  16em; }

.Width20P    { width: 20%; }
.Width25P    { width: 25%; }
.Width33P    { width: 33%; }
.Width50P    { width: 50%; }
.Width66P    { width: 66%; }
.Width75P    { width: 75%; }
.Width80P    { width: 80%; }
.Width90P    { width: 90%; }
.Width100P    { width: 100%; }

.Height20P   { height: 20%; }
.Height25P   { height: 25%; }
.Height33P   { height: 33%; }
.Height50P   { height: 50%; }
.Height66P   { height: 66%; }
.Height75P   { height: 75%; }
.Height80P   { height: 80%; }
.Height100P   { height: 100%; }

.Width20P    { width:  20% ; }
.Width25P    { width:  25% ; }
.Width30P    { width:  30% ; }
.Width40P    { width:  40% ; }
.Width50P    { width:  50% ; }
.Width60P    { width:  60% ; }
.Width80P    { width:  80% ; }
.Width85P    { width:  85% ; }
.Width87P    { width:  87% ; }
.Width90P    { width:  90% ; }
.Width93P    { width:  93% ; }

.Width100    { width:  1em;}
.Width125    { width:  1.25em;}
.Width150    { width:  1.5em;}
.Width200    { width:  2em; }
.Width300    { width:  3em; }
.Width400    { width:  4em; }
.Width600    { width:  6em; }
.Width800    { width:  8em; }
.Width1000  { width:  10em; }
.Width1200  { width:  12em; }
.Width1600  { width:  16em; }
.Width2000  { width:  20em; }
.Width2400  { width:  24em; }
.Width3000  { width:  30em; }
.Width4000  { width:  40em; }

.MinWidth100  { min-width:  100%;}
.MinWidth200  { min-width:  2em; }
.MinWidth400  { min-width:  4em; }
.MinWidth600  { min-width:  6em; }
.MinWidth800  { min-width:  8em; }
.MinWidth1000  { min-width:  10em; }
.MinWidth1200  { min-width:  12em; }
.MinWidth1600  { min-width:  16em; }
.MinWidth2000  { min-width:  20em; }
.MinWidth2400  { min-width:  24em; }
.MinWidth3000  { min-width:  30em; }
.MinWidth3200  { min-width:  32em; }
.MinWidth3600  { min-width:  36em; }
.MinWidth4000  { min-width:  40em; }

.MaxFullWidth  { max-width:  100%;}
.MaxWidth150  { max-width:  1.5em; }
.MaxWidth200  { max-width:  2em; }
.MaxWidth200  { max-width:  2em; }
.MaxWidth400  { max-width:  4em; }
.MaxWidth600  { max-width:  6em; }
.MaxWidth800  { max-width:  8em; }
.MaxWidth1000  { max-width:  10em; }
.MaxWidth1200  { max-width:  12em; }
.MaxWidth1600  { max-width:  16em; }
.MaxWidth2000  { max-width:  20em; }
.MaxWidth2400  { max-width:  24em; }
.MaxWidth3000  { max-width:  30em; }
.MaxWidth3200  { max-width:  32em; }
.MaxWidth3600  { max-width:  36em; }
.MaxWidth4000  { max-width:  40em; }

.MaxWidth30vw  { max-width:  30vw; }
.MaxWidth40vw  { max-width:  40vw; }
.MaxWidth50vw  { max-width:  50vw; }
.MaxWidth60vw  { max-width:  60vw; }
.MaxWidth70vw  { max-width:  70vw; }
.MaxWidth80vw  { max-width:  80vw; }
.MaxWidth90vw  { max-width:  90vw; }

.Height100  { height:  1em; }
.Height150  { height:  1.5em; }
.Height200  { height:  2em; }
.Height400  { height:  4em; }
.Height800  { height:  8em; }
.Height1000  { height:  10em; }
.Height1200  { height:  12em; }
.Height1600  { height:  16em; }
.Height2000  { height:  20em; }
.Height2400  { height:  20em; }
.Height3000  { height:  30em; }
.Height4000  { height:  40em; }

.MinHeight100    { min-height:  1em; }
.MinHeight150    { min-height:  1.5em; }
.MinHeight200    { min-height:  2em; }
.MinHeight400    { min-height:  4em; }
.MinHeight600    { min-height:  6em; }
.MinHeight800    { min-height:  8em; }
.MinHeight1000  { min-height:  10em; }
.MinHeight1200  { min-height:  12em; }
.MinHeight1400  { min-height:  14em; }
.MinHeight1600  { min-height:  16em; }
.MinHeight1800  { min-height:  18em; }
.MinHeight2000  { min-height:  20em; }
.MinHeight2400  { min-height:  24em; }
.MinHeight2600  { min-height:  26em; }
.MinHeight3000  { min-height:  30em; }
.MinHeight4000  { min-height:  40em; }

.MinHeight50P   { min-height:  50%; }
.MinHeight60P   { min-height:  60%; }
.MinHeight70P   { min-height:  70%; }
.MinHeight80P   { min-height:  80%; }
.MinHeight90P   { min-height:  90%; }
.MinHeight100P  { min-height:  100%; }

.MinHeight80VH   { min-height:  80vh; }

.MaxHeight100    { max-height:  1em; }
.MaxHeight150    { max-height:  1.5em; }
.MaxHeight200    { max-height:  2em; }
.MaxHeight400    { max-height:  4em; }
.MaxHeight800    { max-height:  8em; }
.MaxHeight1000  { max-height:  10em; }
.MaxHeight1200  { max-height:  12em; }
.MaxHeight1600  { max-height:  16em; }
.MaxHeight2000  { max-height:  20em; }
.MaxHeight2400  { max-height:  24em; }
.MaxHeight3000  { max-height:  30em; }
.MaxHeight4000  { max-height:  40em; }

.VW100           { width: 100vw; }
.VH100           { height: 100vh; }

.FirstIndent200    { text-indent:  2em; }
.FirstIndent400    { text-indent:  4em; }
.FirstIndent600    { text-indent:  6em; }
.FirstIndent800    { text-indent:  8em; }

.NoSpacing
{
  border-spacing: 0px;
  border-collapse:  collapse;
}

.NoSpacing td
{
  border-width: 0px;
  padding:  0.2em;
}

.Bordered,
.Bordered th,
.Bordered td
{
  border:  0.01em solid black;
}

.BorderTop,
.BorderTop tr,
.BorderTop th,
.BorderTop td
{
  border-top:  0.01em solid black;
}

.BorderBottom,
.BorderBottom tr,
.BorderBottom th,
.BorderBottom td
{
  border-bottom:  0.01em solid black;
}

.BorderLeft,
.BorderLeft tr,
.BorderLeft th,
.BorderLeft td
{
  border-left:  0.01em solid black;
}

.BorderRight,
.BorderRight tr,
.BorderRight th,
.BorderRight td
{
  border-right:  0.01em solid black;
}

.Border20,
.Border20 th,
.Border20 td
{
  border:  0.2em solid black;
}

.Border20.HoverHighlight:hover,
.Border20.HoverHighlight:hover th,
.Border20.HoverHighlight:hover td
{
  border:  0.2em solid yellow;
}

.Pad0,
.Pad0 th,
.Pad0 td
{  
  padding:  0px ;    
}

.Border0,
.Border0 th,
.Border0 td
{  
  border:    none ;  
}

.Pad25,
.Pad25 td,
.Pad25 th
{
  padding:  0.25em ;
}

.Pad25Horizontal,
.Pad25Horizontal td,
.Pad25Horizontal th
{
  padding:  0em 0.25em;
}

.Pad25Vertical,
.Pad25Vertical td,
.Pad25Vertical th
{
  padding:  0.25em 0em;
}

.Pad50,
.Pad50 td,
.Pad50 th
{
  padding:  0.5em ;
}

.Pad50Horizontal,
.Pad50Horizontal td,
.Pad50Horizontal th
{
  padding:  0em 0.5em;
}

.Pad50Vertical,
.Pad50Vertical td,
.Pad50Vertical th
{
  padding:  0.50em 0em;
}

.Pad100,
.Pad100 td,
.Pad100 th
{
  padding:  1em ;
}

.Unpadded,
.Unpadded td,
.Unpadded th
{
  padding:  0em ;
}

.NoPadH  
{ 
  padding-left: 0px; 
  padding-right: 0px; 
}

.NoPadV
{ 
  padding-top: 0px; 
  padding-bottom: 0px; 
}

.Margin0    {  margin:  0em;  }
.Margin25    {  margin:  0.25em;  }
.Margin50    {  margin:  0.5em;  }
.Margin75    {  margin:  0.75em;  }
.Margin100    {  margin:  1em;  }
.MarginTop    {  margin-bottom:  1em;  }
.MarginBottom  {  margin-bottom:  1em;  }

.Hidden      {  display:  none;  }

.NoList      {  list-style-type:  none;  }

.Table      {  display:  table;  }
.TableCell    {  display:  table-cell;  }
.Block      {  display:  block;  }
.Inline      {  display:  inline;  }
.InlineBlock  {  display:  inline-block;  }

.Bold        {  font-weight:  bold;  }

.FlipH      {  transform:  scaleX(-1);  }
.FlipV      {  transform:  scaleY(-1);  }

.Rotate90      {  transform:  rotate(90);  }
.Rotate180    {  transform:  rotate(180);  }
.Rotate270    {  transform:  rotate(270);  }

.Outset
{
  border:   0.1em outset #888;
}

.Raised   { box-shadow: 0.1em 0.1em 0.1em 0.1em #333; }
.Raised2  { box-shadow: 0.2em 0.2em 0.2em 0.2em #333; }
.Raised3  { box-shadow: 0.3em 0.3em 0.3em 0.3em #333; }

.LineHeight125    {  line-height:   1.25em;  }
.LineHeight150    {  line-height:   1.50em;  }
.LineHeight175    {  line-height:   1.75em;  }
.LineHeight200    {  line-height:   2.00em;  }

.LineHeight,
.Card .LineHeight
{
  display:    inline-block;
  float:      none;
  height:      1.2em;
  vertical-align:  middle;
  padding:    0.1em;
  position:    relative;
  top:      -0.1em;
}

.DoubleLineHeight,
.Card .DoubleLineHeight
{
  display:  inline-block;
  float:    none;
  height:  2.4em;
  vertical-align:  middle;
  padding:  0.1em;
}

.FullScreen
{
  position:    absolute;
  left:        0px;
  top:        0px;
  width:      100%;
  height:      100%;
  overflow:    auto;
}

.FullWindow
{
  width:      100vw;
  height:     100vh;
}

.Square150
{
  width:  1.5em;
  height:  1.2em;
}

.Square200
{
  width:  2em;
  height:  1.5em;
}

.Square300
{
  width:  3em;
  height:  2.5em;
}

.Square400
{
  width:  4em;
  height:  3em;
}

.Square500
{
  width:  5em;
  height:  4em;
}

.Square600
{
  width:  6em;
  height:  4.8em;
}

.Square700
{
  width:  7em;
  height:  5.2em;
}

.Square800
{
  width:  8em;
  height:  6em;
}

.Square1000
{
  width:  10em;
  height:  7.5em;
}

.Square1200
{
  width:  12em;
  height:  9em;
}

.Square1600
{
  width:  16em;
  height:  13em;
}

.Square2000
{
  width:  20em;
  height:  20em;
}

.Square3000
{
  width:  30em;
  height:  30em;
}

.Square4000
{
  width:  40em;
  height:  40em;
}

.SansSerif
{
  font-family:  sans-serif;
}

.Serif
{
  font-family:  serif;
}

.MonoSpace
{
  font-family:   Consolas, 
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New, 
    monospace;
}

.MonoSpaceWrap
{
  font-family:   Consolas, 
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New, 
    monospace;
  white-space: pre-wrap;
}

.PreLine
{
  white-space:  pre-line;
}

.FlexInput textarea
{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family:   Consolas, 
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New, 
    monospace;
}

.FlexInput
{
  position: relative;
}

input,
textarea,
option,
.FlexInput input,
.FlexInput textarea
{
  padding:   0.3em;
  color:  #009;
  background-color:  #ffc;
  border:  0.1em solid #009;
  border-radius:  0.5em;
  font:  1.3em Verdana,Arial;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 0.1em inset #888;
  margin-bottom:  1em;
}

.FlexInput textarea
{
  min-height: 4em;
}

img.FillDiv
{
  width:  auto;
  height:  auto;
  max-height:100%;
  max-width:100%;
}

.Fill
{
  width:  100%;
  height:  100%;
}

.Rounded  {  border-radius:  0.5em;  }
.MarginAuto 
{ 
  margin-left:  auto; 
  margin-right:  auto; 
}

.Spread li
{
  margin-bottom:  1em;
}

.Drawer
{
  position:  absolute;
  overflow:  auto;
}

.LeftDrawer
{
  left:    0px;
  top:    0px;
  height:    100%;
}

.RightDrawer
{
  right:    0px;
  top:    0px;
  height:    100%;
}

.TopDrawer
{
  top:    0px;
  left:    0px;
  width:    100%;
}

.BottomDrawer
{
  bottom:    0px;
  left:    0px;
  width:    100%;
}

.Flex
{
  display:   flex;
}

.Flex > div,
.Flex > a,
.Flex > input,
.FlexItem
{
  flex:         auto;
}

.FlexCenter,
.GridCenter
{
  align-items:      center;
  justify-content:  center;
}

.FlexHorizontal
{
  flex-direction:    row;  
}

.FlexVertical
{
  flex-direction:    column;  
}

.FlexWrap
{
  flex-wrap:  wrap;
  flex-flow:  center;
}

.NoFlex        {  flex:        0 !important; }

.Grid { display:  grid; }

.FlexGrid4
{
  display:  grid;
  grid-template-columns:  repeat(24, 1fr);
}

@media all and (max-width: 120em)   { .FlexGrid6 { grid-template-columns:  repeat(29, 1fr); } }
@media all and (max-width: 116em)   { .FlexGrid6 { grid-template-columns:  repeat(28, 1fr); } }
@media all and (max-width: 112em)   { .FlexGrid6 { grid-template-columns:  repeat(27, 1fr); } }
@media all and (max-width: 108em)   { .FlexGrid6 { grid-template-columns:  repeat(26, 1fr); } }
@media all and (max-width: 104em)   { .FlexGrid6 { grid-template-columns:  repeat(25, 1fr); } }
@media all and (max-width: 100em)   { .FlexGrid6 { grid-template-columns:  repeat(24, 1fr); } }
@media all and (max-width: 96em)   { .FlexGrid6 { grid-template-columns:  repeat(23, 1fr); } }
@media all and (max-width: 92em)   { .FlexGrid6 { grid-template-columns:  repeat(22, 1fr); } }
@media all and (max-width: 88em)   { .FlexGrid6 { grid-template-columns:  repeat(21, 1fr); } }
@media all and (max-width: 84em)   { .FlexGrid6 { grid-template-columns:  repeat(20, 1fr); } }
@media all and (max-width: 80em)   { .FlexGrid6 { grid-template-columns:  repeat(19, 1fr); } }
@media all and (max-width: 76em)   { .FlexGrid6 { grid-template-columns:  repeat(18, 1fr); } }
@media all and (max-width: 72em)   { .FlexGrid6 { grid-template-columns:  repeat(17, 1fr); } }
@media all and (max-width: 68em)   { .FlexGrid6 { grid-template-columns:  repeat(16, 1fr); } }
@media all and (max-width: 64em)    { .FlexGrid6 { grid-template-columns:  repeat(15, 1fr); } }
@media all and (max-width: 60em)    { .FlexGrid6 { grid-template-columns:  repeat(14, 1fr); } }
@media all and (max-width: 56em)    { .FlexGrid6 { grid-template-columns:  repeat(13, 1fr); } }
@media all and (max-width: 52em)    { .FlexGrid6 { grid-template-columns:  repeat(12, 1fr); } }
@media all and (max-width: 48em)    { .FlexGrid6 { grid-template-columns:  repeat(11, 1fr); } }
@media all and (max-width: 44em)    { .FlexGrid6 { grid-template-columns:  repeat(10, 1fr); } }
@media all and (max-width: 40em)    { .FlexGrid6 { grid-template-columns:  repeat(9, 1fr); } }
@media all and (max-width: 36em)    { .FlexGrid6 { grid-template-columns:  repeat(8, 1fr); } }
@media all and (max-width: 32em)    { .FlexGrid6 { grid-template-columns:  repeat(7, 1fr); } }
@media all and (max-width: 28em)    { .FlexGrid6 { grid-template-columns:  repeat(6, 1fr); } }
@media all and (max-width: 24em)    { .FlexGrid6 { grid-template-columns:  repeat(5, 1fr); } }
@media all and (max-width: 20em)    { .FlexGrid6 { grid-template-columns:  repeat(4, 1fr); } }
@media all and (max-width: 16em)    { .FlexGrid6 { grid-template-columns:  repeat(3, 1fr); } }
@media all and (max-width: 12em)    { .FlexGrid6 { grid-template-columns:  repeat(2, 1fr); } }
@media all and (max-width: 8em)    { .FlexGrid6 { grid-template-columns:  repeat(1, 1fr); } }

.FlexGrid6
{
  display:  grid;
  grid-template-columns:  repeat(24, 1fr);
}

@media all and (max-width: 138em)   { .FlexGrid6 { grid-template-columns:  repeat(22, 1fr); } }
@media all and (max-width: 132em)   { .FlexGrid6 { grid-template-columns:  repeat(21, 1fr); } }
@media all and (max-width: 126em)   { .FlexGrid6 { grid-template-columns:  repeat(20, 1fr); } }
@media all and (max-width: 120em)   { .FlexGrid6 { grid-template-columns:  repeat(19, 1fr); } }
@media all and (max-width: 114em)   { .FlexGrid6 { grid-template-columns:  repeat(18, 1fr); } }
@media all and (max-width: 108em)   { .FlexGrid6 { grid-template-columns:  repeat(17, 1fr); } }
@media all and (max-width: 102em)   { .FlexGrid6 { grid-template-columns:  repeat(16, 1fr); } }
@media all and (max-width: 96em)    { .FlexGrid6 { grid-template-columns:  repeat(15, 1fr); } }
@media all and (max-width: 90em)    { .FlexGrid6 { grid-template-columns:  repeat(14, 1fr); } }
@media all and (max-width: 84em)    { .FlexGrid6 { grid-template-columns:  repeat(13, 1fr); } }
@media all and (max-width: 78em)    { .FlexGrid6 { grid-template-columns:  repeat(12, 1fr); } }
@media all and (max-width: 72em)    { .FlexGrid6 { grid-template-columns:  repeat(11, 1fr); } }
@media all and (max-width: 66em)    { .FlexGrid6 { grid-template-columns:  repeat(10, 1fr); } }
@media all and (max-width: 60em)    { .FlexGrid6 { grid-template-columns:  repeat(9, 1fr); } }
@media all and (max-width: 54em)    { .FlexGrid6 { grid-template-columns:  repeat(8, 1fr); } }
@media all and (max-width: 48em)    { .FlexGrid6 { grid-template-columns:  repeat(7, 1fr); } }
@media all and (max-width: 42em)    { .FlexGrid6 { grid-template-columns:  repeat(6, 1fr); } }
@media all and (max-width: 36em)    { .FlexGrid6 { grid-template-columns:  repeat(5, 1fr); } }
@media all and (max-width: 30em)    { .FlexGrid6 { grid-template-columns:  repeat(4, 1fr); } }
@media all and (max-width: 24em)    { .FlexGrid6 { grid-template-columns:  repeat(3, 1fr); } }
@media all and (max-width: 18em)    { .FlexGrid6 { grid-template-columns:  repeat(2, 1fr); } }
@media all and (max-width: 12em)    { .FlexGrid6 { grid-template-columns:  repeat(1, 1fr); } }


.FlexGrid8
{
  display:  grid;
  grid-template-columns:  repeat(24, 1fr);
}

@media all and (max-width: 136em)   { .FlexGrid8 { grid-template-columns:  repeat(16, 1fr); } }
@media all and (max-width: 128em)   { .FlexGrid8 { grid-template-columns:  repeat(15, 1fr); } }
@media all and (max-width: 120em)   { .FlexGrid8 { grid-template-columns:  repeat(14, 1fr); } }
@media all and (max-width: 112em)   { .FlexGrid8 { grid-template-columns:  repeat(13, 1fr); } }
@media all and (max-width: 104em)   { .FlexGrid8 { grid-template-columns:  repeat(12, 1fr); } }
@media all and (max-width: 96em)    { .FlexGrid8 { grid-template-columns:  repeat(11, 1fr); } }
@media all and (max-width: 88em)    { .FlexGrid8 { grid-template-columns:  repeat(10, 1fr); } }
@media all and (max-width: 80em)    { .FlexGrid8 { grid-template-columns:  repeat(9, 1fr); } }
@media all and (max-width: 72em)    { .FlexGrid8 { grid-template-columns:  repeat(8, 1fr); } }
@media all and (max-width: 64em)    { .FlexGrid8 { grid-template-columns:  repeat(7, 1fr); } }
@media all and (max-width: 56em)    { .FlexGrid8 { grid-template-columns:  repeat(6, 1fr); } }
@media all and (max-width: 48em)    { .FlexGrid8 { grid-template-columns:  repeat(5, 1fr); } }
@media all and (max-width: 40em)    { .FlexGrid8 { grid-template-columns:  repeat(4, 1fr); } }
@media all and (max-width: 32em)    { .FlexGrid8 { grid-template-columns:  repeat(3, 1fr); } }
@media all and (max-width: 24em)    { .FlexGrid8 { grid-template-columns:  repeat(2, 1fr); } }
@media all and (max-width: 16em)    { .FlexGrid8 { grid-template-columns:  repeat(1, 1fr); } }


.FlexGrid10
{
  display:  grid;
  grid-template-columns:  repeat(24, 1fr);
}

@media all and (max-width: 130em)   { .FlexGrid10 { grid-template-columns:  repeat(12, 1fr); } }
@media all and (max-width: 120em)   { .FlexGrid10 { grid-template-columns:  repeat(11, 1fr); } }
@media all and (max-width: 110em)   { .FlexGrid10 { grid-template-columns:  repeat(10, 1fr); } }
@media all and (max-width: 100em)   { .FlexGrid10 { grid-template-columns:  repeat(9, 1fr); } }
@media all and (max-width: 90em)    { .FlexGrid10 { grid-template-columns:  repeat(8, 1fr); } }
@media all and (max-width: 80em)    { .FlexGrid10 { grid-template-columns:  repeat(7, 1fr); } }
@media all and (max-width: 70em)    { .FlexGrid10 { grid-template-columns:  repeat(6, 1fr); } }
@media all and (max-width: 60em)    { .FlexGrid10 { grid-template-columns:  repeat(5, 1fr); } }
@media all and (max-width: 50em)    { .FlexGrid10 { grid-template-columns:  repeat(4, 1fr); } }
@media all and (max-width: 40em)    { .FlexGrid10 { grid-template-columns:  repeat(3, 1fr); } }
@media all and (max-width: 30em)    { .FlexGrid10 { grid-template-columns:  repeat(2, 1fr); } }
@media all and (max-width: 20em)    { .FlexGrid10 { grid-template-columns:  repeat(1, 1fr); } }

.FlexGrid12
{
  display:  grid;
  grid-template-columns:  repeat(12, 1fr);
}

@media all and (max-width: 132em)   { .FlexGrid12 { grid-template-columns:  repeat(10, 1fr); } }
@media all and (max-width: 120em)   { .FlexGrid12 { grid-template-columns:  repeat(9, 1fr); } }
@media all and (max-width: 108em)   { .FlexGrid12 { grid-template-columns:  repeat(8, 1fr); } }
@media all and (max-width: 96em)    { .FlexGrid12 { grid-template-columns:  repeat(7, 1fr); } }
@media all and (max-width: 84em)    { .FlexGrid12 { grid-template-columns:  repeat(6, 1fr); } }
@media all and (max-width: 72em)    { .FlexGrid12 { grid-template-columns:  repeat(5, 1fr); } }
@media all and (max-width: 60em)    { .FlexGrid12 { grid-template-columns:  repeat(4, 1fr); } }
@media all and (max-width: 48em)    { .FlexGrid12 { grid-template-columns:  repeat(3, 1fr); } }
@media all and (max-width: 36em)    { .FlexGrid12 { grid-template-columns:  repeat(2, 1fr); } }
@media all and (max-width: 24em)    { .FlexGrid12 { grid-template-columns:  repeat(1, 1fr); } }

.FlexGrid16
{
  display:  grid;
  grid-template-columns:  repeat(12, 1fr);
}

@media all and (max-width: 144em)   { .FlexGrid16 { grid-template-columns:  repeat(8, 1fr); } }
@media all and (max-width: 128em)   { .FlexGrid16 { grid-template-columns:  repeat(7, 1fr); } }
@media all and (max-width: 112em)   { .FlexGrid16 { grid-template-columns:  repeat(6, 1fr); } }
@media all and (max-width: 96em)    { .FlexGrid16 { grid-template-columns:  repeat(5, 1fr); } }
@media all and (max-width: 80em)    { .FlexGrid16 { grid-template-columns:  repeat(4, 1fr); } }
@media all and (max-width: 64em)    { .FlexGrid16 { grid-template-columns:  repeat(3, 1fr); } }
@media all and (max-width: 48em)    { .FlexGrid16 { grid-template-columns:  repeat(2, 1fr); } }
@media all and (max-width: 32em)    { .FlexGrid16 { grid-template-columns:  repeat(1, 1fr); } }

.FlexGrid20
{
  display:  grid;
  grid-template-columns:  repeat(8, 1fr);
}

@media all and (max-width: 160em)   { .FlexGrid20 { grid-template-columns:  repeat(7, 1fr); } }
@media all and (max-width: 140em)   { .FlexGrid20 { grid-template-columns:  repeat(6, 1fr); } }
@media all and (max-width: 120em)   { .FlexGrid20 { grid-template-columns:  repeat(5, 1fr); } }
@media all and (max-width: 100em)   { .FlexGrid20 { grid-template-columns:  repeat(4, 1fr); } }
@media all and (max-width: 80em)    { .FlexGrid20 { grid-template-columns:  repeat(3, 1fr); } }
@media all and (max-width: 60em)    { .FlexGrid20 { grid-template-columns:  repeat(2, 1fr); } }
@media all and (max-width: 40em)    { .FlexGrid20 { grid-template-columns:  repeat(1, 1fr); } }

.FlexGrid24
{
  display:  grid;
  grid-template-columns:  repeat(7, 1fr);
}

@media all and (max-width: 144em)   { .FlexGrid20 { grid-template-columns:  repeat(5, 1fr); } }
@media all and (max-width: 120em)   { .FlexGrid20 { grid-template-columns:  repeat(4, 1fr); } }
@media all and (max-width: 96em)    { .FlexGrid20 { grid-template-columns:  repeat(3, 1fr); } }
@media all and (max-width: 72em)    { .FlexGrid20 { grid-template-columns:  repeat(2, 1fr); } }
@media all and (max-width: 48em)    { .FlexGrid20 { grid-template-columns:  repeat(1, 1fr); } }

.FlexGrid30
{
  display:  grid;
  grid-template-columns:  repeat(6, 1fr);
}

@media all and (max-width: 150em)   { .FlexGrid30 { grid-template-columns:  repeat(4, 1fr); } }
@media all and (max-width: 120em)   { .FlexGrid30 { grid-template-columns:  repeat(3, 1fr); } }
@media all and (max-width: 90em)    { .FlexGrid30 { grid-template-columns:  repeat(2, 1fr); } }
@media all and (max-width: 60em)    { .FlexGrid30 { grid-template-columns:  repeat(1, 1fr); } }


.Gap25    { grid-gap: 0.25em; }
.Gap50    { grid-gap: 0.5em; }
.Gap75    { grid-gap: 0.75em; }
.Gap100   { grid-gap: 1em; }
.Gap125   { grid-gap: 1.25em; }
.Gap150   { grid-gap: 1.5em; }
.Gap175   { grid-gap: 1.75em; }
.Gap200   { grid-gap: 2em; }

.OverflowAuto    {  overflow:  auto;  }
.OverflowHidden {  overflow:  hidden;  }
.OverflowClip   {  overflow:  clip;  }

.NoWrap     { white-space: nowrap; }

.BreakAll   { word-break:    break-all;} 

.Middle
{
  vertical-align: middle;
}

.CoverFit
{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.BackgroundCover
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.Column2    {  column-count:  2;  }
.Column3    {  column-count:  3;  }
.Column4    {  column-count:  4;  }
.Column5    {  column-count:  5;  }

.ColumnGap20    {  column-gap:  0.2em;  }
.ColumnGap50    {  column-gap:  0.5em;  }
.ColumnGap100    {  column-gap:  1em;  }
.ColumnGap200    {  column-gap:  2em;  }

.Transition500
{
  transition:  left 0.5s, top 0.5s, right 0.5s, bottom 0.5s, width 0.5s, height 0.5s;
}

.TransparentBackground
{
  background-image:    none;
  background-color:    transparent;
}

.Outlined
{
  text-stroke:  0.02em #333;
  -webkit-text-stroke:  0.02em #333;
}

@media all and (max-width: 20em)
{
  .Over20,
  .Over40
  {
    display:  none;
  }
}

@media all and (min-width: 20em)
{
  .Over40
  {
    display:  none;
  }

  .Under20
  {    
    display:  none;
  }
}

@media all and (min-width: 40em)
{
  .Under40
  {    
    display:  none;
  }
}

