.PhoneWidth
{
	-moz-column-width:		20em;
	-webkit-column-width:	20em;
	column-width:			20em;

	-moz-column-gap:	1em;
	-webkit-column-gap:	1em;
	column-gap:			1em;
	
	width:	99%;
}

.PhoneWidth a
{
	float:	none;
	width:	97%;
}

.EditPopupForm input
{
	width:	96%;
}

.SmallOnly
{
	display:	none;
}

.FrontAds .AdImage
{
	height:				12em;
}



