body
{
  background:       url('/system/wallpapers/blue.webp') no-repeat center center fixed;
  background-size:  cover;
  line-height:      1.5em;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0em 0em 0em 0.5em;
  line-height:    1.3em;
}

.PageBody
{
  background-size:  cover;
}

.PageBarNumbers
{
  font-weight:  bold;
  color:        white;
}

.TopBar img,
.BottomBar img
{
  width:          1.6em;
  height:          1.6em;
}

.PageTitle
{
  padding:  0em;
}

nav a
{
  border-right:    0.03em solid white;
}

nav a:last-of-type
{
  border-right:    none;
}

.PageTitle:hover,
nav a:hover
{
}

nav
{
}

header a,
nav a
{
  background-color:  transparent;
  display:  block;
  float:    left;
  padding:  0.5em 1em;
}

nav .SearchPages
{
  float:    right;
}

.SubMenu .Button
{
  font-size:  1.3em;
}

.SlideShow
{
  color:    black;
  background-color:  white;
  text-align:  center;
}

.SlideShow .Slide
{
  -ms-transition: all ease-in 0.25s;
  -moz-transition: all ease-in 0.25s;
  -webkit-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
}

.FlyLeft
{
  position:  absolute;
  right:    -10%;
}

.FlyRight
{
  position:  absolute;
  left:    200%;
}

select:hover
{
  cursor:        pointer;
  background-color:  yellow;
}

.EditTags a, 
.Tags div
{
  display:  block;
  float:    left;
  color:    black;
  padding:  0.3em;
  text-shadow:  none;
  background-color:  none;
}

.EditTags a
{
  padding:  0.5em;
  margin:    0.5em;
}

.EditTags img,
.Tags div img
{
  width:    1.5em;
  height:    1.5em;
  padding:  0em;
  vertical-align:  middle;
}

.Title
{
  color:      #060;
  font-weight:  bold;
}

.Description
{
  color:      #a60;
  font-weight:  bold;
}

.ContextMenu, .FolderList
{
  color:        black;
  background-color:  #eee;
}

.ContextMenu a, .FolderList a
{
  display:  block;
  color:    black;
  border:    0.1em outset black;
  padding:  0.3em;
  overflow:      hidden;
  text-shadow:  none;
}

.Tabs
{
  display:      flex;
  color:        white;
  background-color:  #009;
}

.Tabs a
{
  flex:    1;
  display:  block;
  padding:  0.3em;
  color:    white;
  text-align:  center;
}

.Tabs a.Selected
{
  background-color:  #66f;
}

.Tabs a.Selected:hover
{
  cursor:        pointer;
  color:        white ;
  background-color:  #66f ;
  background-image:  none ;
}

.Section h2
{
  text-align:        center;
  background-color:  #ddd;
}

.QuickItems
{
  display:    flex;
  flex-wrap:  wrap;
}

.QuickItem
{
  flex:            1;
  display:    flex;
  min-width:      8em;
  min-height:      8em;
  text-align:  center;
  font-size:  0.8em;
  border:      0.1em solid #ddd;
  padding:    0.5em;
  flex-direction:    column;
  justify-content:   center;  
  flex-flow:        center;
}

.QuickItem .Title,
.QuickItem .ProgressBar
{
  margin-bottom:  0.5em;
}

.QuickItem img
{
  width:  6em;
  height:  6em;
}

.QuickItem .ProgressBar .Title,
.QuickItem .ProgressBar .Value,
.MenuItem .ProgressBar .Title,
.MenuItem .ProgressBar .Value
{
  color:  #f00;
}

.QuickItem .ProgressBar .ColorBar,
.MenuItem .ProgressBar .ColorBar
{
  background-color:   #f00;
}

.QuickItem .Price
{
  color:            white;
  background-color:  #00a;
  border:            0.2em solid #00a;
  border-radius:    0.5em;
  margin:            0em auto;
}
.MenuItem
{
  position:  relative;
}

.MenuItem img,
.ServiceImage
{
  width:  100%;
}

.MenuItem .Title
{
  color:      #090;
}

.MenuItem .Price
{
  min-width:  4em;
  flex:        0;
  text-align:  right;
  color:      #00f;
  margin-bottom:    1em;
}

.MenuItem .NextImage,
.MenuItem .PreviousImage
{
  position:      absolute;
  color:        red;
  font-weight:  bold;
  font-size:    4em;
  top:          30%;
  text-shadow:
    -0.02em -0.02em 0 #000,
    0.02em -0.02em 0 #000,
    -0.02em 0.02em 0 #000,
    0.02em 0.02em 0 #000;  
}

.MenuItem .NextImage:hover,
.MenuItem .PreviousImage:hover
{
  cursor:            pointer;
  opacity:          1;
  color:            black;
  background-color:  yellow;
}

.MenuItem .NextImage
{
  right:  10px;
}

.MenuItem .PreviousImage
{
  left:  10px;
}

h1, h2, h3
{
  color:  white;
  padding:  0.3em;
}

.DBViewTable
{
  cursor:   pointer;
}

.DBViewTable tr:hover
{
  background-color:   yellow;
}

.DBViewTable tr:nth-child(odd) 
{
  background-color: #eee;
}

.DBViewTable tr.Selected
{
  color:               black;
  background-color:   #7f7;
  border:             0.2em solid #7f7;
}

.DBViewTable tr:hover,
.DBViewTable tr.Selected:hover,
.DBViewTable tr:nth-child(odd):hover
{
  background-color:   yellow;
}

.DBViewTable td
{
  padding:  0.2em;
}

.SiteHeader a,
.SiteFooter a
{
  color:  white;
  padding:  0.2em;
}

.SiteHeader a:hover,
.SiteFooter a:hover
{
  color:            black;
  background-color: yellow;
}

.ImageAdPanel
{
  background-color: white;
}

.ImageAdPanel img
{
  width:  100%;
}

.ImageAdPanel figcaption
{
  text-align:       center;
  padding:          6em 3em;
}

.ChooseLanguageIcon img
{
  height: 1.5em;
}

.TypingField
{
  display:      inline-block;
  font-weight:  bold;
  font-family:  monospace;
  font-size:    1.5em;
  padding:      0.2em;
  margin:        0.1em;
}

.Vowel
{
  font-weight:  bold;
  color:        red;
}

.Separator
{
  color:      green;
}
