/**********************************************************************
 * Site specific CSS rules for pafera.com 
 **********************************************************************/

body
{
  margin:                 0px;
  padding:                0px;
  font-size:              1em;
  font-family:            'Microsoft Yahei', '微软雅黑', Verdana, Arial, serif;
  overflow:                auto;
  box-sizing:             border-box;
  background-size:        100% 100%;
  background-attachment:  fixed;
  min-height:              100%;
}

h1
{
  text-align:  center;
}

h1, h2, h3, h4, h5, h6
{
  margin-bottom:  0.5em;
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img
{
  vertical-align:  middle;
}

a
{
  text-decoration: none;
}

a,
.Button
{
  font-weight:  bold;
}
input:hover,
textarea:hover
{
  cursor:  text;
}

ul
{
  list-style-type:  disc;
}

p
{
  margin-bottom:  1em;
  text-align:    justify;
}

.BreakWord
{
  overflow-wrap:     break-word;
  word-wrap:         break-word;
}

.PreWrap
{
  overflow-x:   auto;
  white-space:  pre-wrap;
  word-wrap:    break-word;
}

.Error
{
  padding:          1em;
  color:            black;
  background-color: yellow;
  border:           0.1em inset red;
  font-weight:      bold;
  text-shadow:      none;
  overflow-wrap:     break-word;
  word-wrap:         break-word;
}

.Error a
{
  border-radius:    0.5em;
  padding:      0.3em;
  color:        white;
  background-color:  #33f;
  border:        0.02em solid black;
}

div.ToggleButton
{
  min-width:  6em;
  text-align:  center;
  padding:  0.4em 1em;
  margin:    0em 0.2em 0.2em 0em;
  cursor:    pointer;
  font-weight:  bold;
  text-shadow:  none;
}

td.ToggleButton,
th.ToggleButton,
tr.ToggleButton
{
  text-align:  center;
  padding:  0.4em;
  cursor:    pointer;
}

a.Button, a.BigButton
{
  display:      block;
  width:        97%;
  padding:      0.2em;
  text-decoration:  none;
  border-radius:  1em;
  cursor:        pointer;
  text-align:      center;
}

th.Button,
td.Button
{
  text-align:    center;
  text-shadow:  none;
}

a.BigButton
{
  font-size:  2em;
  margin:    0.5em;
}

a.Button img,
a.BigButton img
{
  width:  auto;
  height:  3em;
  vertical-align:  middle;
}

a.BigButton img
{
  height:  4em;
}

a.MiniButton
{
  padding:  0.1em;
  font-size:  0.7em;
}

.CheckButton input
{
  display:  none;
}

.AutoCenter
{
  margin:  0px auto 0px auto;
}

.EditForm
{
  display:  none;
}

table.Styled
{
  margin:        0em 2em 1em 0em;
  padding:      0em;
  border-collapse:  collapse;
  overflow:      auto;
  word-wrap:      break-word;
  overflow-wrap:    break-word;
  text-shadow:    none;
}

table.Styled th
{
  color:  white;
  background-color:  black;
  background-image:  linear-gradient(#222, black);
}

table.Styled tr
{
  color:  black;
  background-color: white;
  border-bottom:    1px solid #eee;
  border-right:     1px solid #eee;
}

table.Styled tr:nth-child(even)
{
  background-color: #ddd;
}

table.Styled td, table.Styled th
{
  padding:  0.2em;
}

.ButtonBar
{
  display: flex;
  
  flex-wrap:  wrap;
  flex-flow:  center;
  
  width:    100%;
  margin-bottom:  0.3em;
  font-size:  0.85em;
  
  justify-content: center;  
}

.ButtonBar a,
.ButtonBar select,
.ButtonBar input,
.ButtonBar span
{
  display:  inline-block;
  width:    auto;
  height:    100%;
  border-radius:  0.2em;
  border:   0.1em outset #888;
  padding:  0.2em;
  margin:      0em 0.2em 0.2em 0em;
  min-height:  2.1em;
  vertical-align:  middle;
}

.ButtonBar a, .ButtonBar .ToggleButton
{
  display:      block;
  font-size:    1.15em;
  text-align:   center;
}

.ButtonBar span.ToggleButton
{
  padding-top:  0.5em;
  border-radius:  0em;
}

.ButtonBar span
{
}

.ButtonBar select,
.ButtonBar input
{
  padding:  0.3em;
}

.ButtonBar a
{
}

.ButtonBar a.Spacer
{
  padding:      0px;
  height:        0px;
  background-color:  transparent;
  border:        none;
}

.Radio input
{
  display:  none;
}

.Radio div
{
  float:    left;
  padding:  0.5em;
  width:    auto;
  border:    0.05em outset gray;
  cursor:    pointer;
}

.RadioButton
{
  padding:        0.5em;
  border-radius:  0.8em;
  margin:         0.2em;
}

select
{
  color:        #036;
  background-color:  white;
  font:        1.3em Verdana,Arial;
  padding:      0.2em 1em;
  margin:        0em 0.3em 1em 0em;
  border:        0.1em solid #009;
  border-radius:    0.5em;
}

pre
{
  font-family:  monospace;
}

.PageBar .FirstPage, 
.Color1,
table.Styled td.Color1
{
  color:  white ;
  background-color:  #a00 ;
  background-image:  none ;
}

.PageBar .PreviousPage, 
.Color2,
table.Styled td.Color2
{
  color:  white ;
  background-color:  #f60 ;
  background-image:  none ;
}

.PageBar a, 
.Color3,
table.Styled td.Color3
{
  color:  white ;
  background-color:  #0a0 ;
  background-image:  none ;
}

.PageBar .NextPage, 
.Color4,
table.Styled td.Color4
{
  color:  white ;
  background-color:  #66f ;
  background-image:  none ;
}

.PageBar .LastPage, 
.Color5,
table.Styled td.Color5
{
  color:  white ;
  background-color:  #608 ;
  background-image:  none ;
}

.PageBar .ChoosePage, 
.Color6,
table.Styled td.Color6
{
  color:  white ;
  background-color:  #940 ;
  background-image:  none ;
}

.Disabled
{
  color:  black;
  background-color: #eee;
}

.Border0
{
    border:   0.5em solid transparent;
}

.Border1
{
    border:   0.5em solid #900;
}

.Border2
{
    border:   0.5em solid #f60;
}

.Border3
{
    border:   0.5em solid #0a0;
}

.Border4
{
    border:   0.5em solid #66f;
}

.Border5
{
    border:   0.5em solid #608;
}

.Border6
{
    border:   0.5em solid #520;
}

.Disabled
{
  color:               black ;
  background-color:   #aaa ;
  background-image:   none ;
}

.Blue1
{
  color:  white ;
  background-color:  #001f3f ;
  background-image:  none ;
}

.Blue2
{
  color:  white ;
  background-color:  #0074D9 ;
  background-image:  none ;
}

.Blue3 
{
  color:  white ;
  background-color:  #39CCCC ;
  background-image:  none ;
}

.Blue4
{
  color:  black ;
  background-color:  #7FDBFF ;
  background-image:  none ;
}

form td
{
  padding:  0.2em;
}

form input[type=hidden]
{
  display:  none;
}

.EditObjForm
{
  width:  99%;
}

.EditObjForm input
{
  position:  relative;
  top:    0.5em;
}

.RangeTitle
{
  font-size:    1.5em;
  border:  none ;
}

.Range
{
  min-width:    12em;
  height:      2.1em;
  margin-top:    0.5em;
  cursor:      pointer ;
}

.RangeDisplay
{
  width:      2em;
  font-size:    1.5em;
  font-weight:  bold;
  border:      none ;
}

form
{
  display:  block;
}

.ToggleIcon
{
  width:  1.2em ;
  height:  1.2em ;
  float:  right;
}

.FormRow
{
  padding:  0.5em 0em;
}

.FormRow img
{
  vertical-align:  middle;
}

form table input
{
  position:  relative;
  top:    0.4em;
  width:    91% ;
}

table.Styled td.Today
{
  color:        white;
  background-color:  #33a ;
  background-image:  none ;
}

table.Styled td.OtherMonth
{
  color:        white;
  background-color:  #888 ;
  background-image:  none ;
}

.RadioGroup
{
}

.ComboBox
{
  display:  flex;
}

.ComboBox select
{
  flex:      1;
  border-radius:  0.5em 0em 0em 0.5em;
  padding-right:  0em;
  margin-right:    0em;
}

.ComboBox input
{
  flex:            1;
  border-radius:  0em 0.5em 0.5em 0em;
  padding-left:    0em;
  margin-left:    0em;
  min-width:      3em;
}

.ProgressBar
{
  display:        flex;
  height:          1em;
  position:        relative;
}

.ProgressBar .Title
{
  flex:          1;
  max-width:    6em;
  padding:      0em 0.2em;
  color:        #090;
}

.ProgressBar .BackgroundBar
{
  flex:            1;
  background-color:  black;
  border:          0.1em solid black;
  border-radius:  0.5em;
  margin-top:      0.2em;
  height:          1em;
}

.ProgressBar .ForegroundBar
{
  position:          relative;
  top:              -0.1em;
  left:              -0.1em;
  background-image:  linear-gradient(#66f, #99f, #66f);
  background-color: #66f;
  border-radius:    0.5em;
  height:            1em;
}

.ProgressBar .Value
{
  flex:      0;
  width:    4em;
  padding:  0em 0.5em;
}

.EditPopupForm
{
  width:            100%;
  display:           flex;
  flex-direction:    column;
  align-items:      center;
  justify-content:  center;
}

.EditDiv{
  flex:              1;
  width:            100%;
  display:          flex;
  flex-direction:    column;
  margin-bottom:    1em;
}

.EditDiv > label
{
}

.EditDiv > input,
.EditDiv > select,
.EditDiv > textarea
{
  flex:        1;
  min-width:  4em;
}

.EditPopupForm .ButtonBar 
{
  flex:        0;
}

.EditPopupForm .ButtonBar a
{
  height:      1.5em;
}

div.stars {
  width: 13.5em;
  display: inline-block;
}
 
input.star { display: none; }
 
label.star {
  float: right;
  padding: 0.5em;
  font-size: 1.8em;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 1.0em #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.Keyboard
{
  display:             flex;
  background-color:   black;
}

.Keyboard a
{
  color:              white;
  background-color:   #069;
  font:               1.2em bold;
  font-family:         sans-serif;
  padding:             0.5em;
  border:              0.1em solid black;
}

.Selected
{
  color:               black;
  background-color:   #7f7;
  border:             0.2em solid #7f7;
}

.SlideShow
{
  overflow:  hidden;
  position:  relative;
}

.SlideShow .Image
{
  background-size:       contain;
  background-repeat:     no-repeat;
  background-position:  center;
  
  height:     100%;
  width:       100%;
}

.SlideShow .Caption
{
  position:           absolute;
  left:                0px;
  bottom:              0px;
  text-align:         center;
  background-color:   #eee;
  opacity:            0.8;
  width:              100%;
}

.SlideShow .Control
{
  display:           flex; 
  position:         absolute; 
  align-items:      center;
  justify-content:  center;
  opacity:           0.2;  
}

.SlideShow .LeftButton,
.SlideShow .RightButton
{
  font-size:    2em;
  top:          20%; 
  width:        1em; 
  height:       60%; 
  padding-top:  35%;
}

.SlideShow .LeftButton
{
  left:   0px; 
}

.SlideShow .RightButton
{
  right:        0px; 
}

.SlideShow .SlideNavBar
{
  display:           flex;
  flex-wrap:        wrap;
  flex-flow:        center;
  align-items:      center;
  justify-content:  center;
  left:             0px; 
  bottom:           0px; 
}

.SlideShow .SlideNavBar a
{
  padding:   0.5em;
}

.SlideShow .LeftButton:hover,
.SlideShow .RightButton:hover
{
  opacity:  1;
}

.SlideTitle
{
  line-height:  1.5em;
  margin:       0em;
  padding:      0em;
}


a:hover,
.ButtonBar a:hover,
.HoverHighlight:hover,
tr.HoverHighlight:hover,
td.HoverHighlight:hover,
table.Styled tr.HoverHighlight:hover,
table.Styled td.HoverHighlight:hover,
.Styled .HoverHighlight:hover,
table.Styled td.Button:hover,
table.Styled th.Button:hover,
input:hover,
textarea:hover,
.PageBar a:hover,
.Color1:hover,
.Color2:hover,
.Color3:hover,
.Color4:hover,
.Color5:hover,
.Color6:hover,
.Shade1:hover,
.Shade2:hover,
.Shade3:hover,
.Shade4:hover,
.Shade5:hover,
.Shade6:hover,
table.Styled td.Button:hover,
table.Styled th.Button:hover,
header a:hover,
header a:hover img,
.ToggleButton:hover,
td.Button:hover,
td.GreenButton:hover,
td.RedButton:hover,
td.Hover:hover,
.Sortable img:hover,
.Card a.Content:hover
{
  cursor:            pointer;
  color:            black ;
  background-color:  yellow ;
  background-image:  linear-gradient(#ff0, #cc0) ;
  text-shadow:      none;
}


.TabBar
{
  display:    flex;
  width:      100%;
  border-bottom:  0.2em solid #33f;
  margin-top:    0.2em;
  flex-wrap:  wrap;
}

.TabBar a
{
  flex:        1;
  padding:      0.2em;
  margin-right:    0.1em;
  min-width:      5em;
  color:        black;
  text-shadow:    none;
  background-color:  #ccf;
  border-bottom:    0.1em solid #33f;
  border-radius:    0.5em 0.5em 0em 0em;
  text-align:      center;
}

.TabBar a.Selected,
.TabBar a.Selected:hover
{
  color:            white;
  background-color: #33f;
  background-image: none;
  border:           0.1em solid #33f;
}

.TitleBar
{
  padding:  0.5em;
  font-weight:  bold;
  color:  #fff;
  background-color:  #040;
  background-image:  linear-gradient(#040, #080, #040);
  text-shadow:
    -0.01em -0.01em 0 #0a0,
    0.01em -0.01em 0 #0a0,
    -0.01em 0.01em 0 #0a0,
    0.01em 0.01em 0 #0a0;
}

@media all and (min-width: 40em)
{
  .EditDiv > label
  {
    min-width:  6em;
  }
}

