html, body
{
	margin:		0px;
	padding:	0px;
	width:		100%;
	height:		100%;
	overflow:		hidden;
}

.ViewportGrid
{
  display:  grid;
  width:    100vw;
  height:   100vh;
  
  grid-template-columns:  4em 1fr 4em;
  grid-template-rows:     2em 1fr 2em;  
}

.TopBarGrid, .BottomBarGrid, .LeftBarGrid, .RightBarGrid, .PageBodyGrid
{
  overflow: auto;
}

.TopBarGrid, .BottomBarGrid
{
  grid-column-start:  1;
  grid-column-end:    4;
}

.LeftBarGrid, .RightBarGrid
{
  grid-row-start:   2;
  grid-row-end:     3;
}

.LeftBarGrid
{
  grid-column-start:  1;
  grid-column-end:    2;
}

.RightBarGrid
{
  grid-column-start:  3;
  grid-column-end:    4;
}

